*
{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

nav{
    background-color: black;
}

#search {
    padding: 5px;
    border-radius: 40px;
    border: 3px solid orange;
    outline: none;
    height: 45px;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    right: 3cm;
}
.bouton-1{
    background-color: orange;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px;
    color:black;
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 25cm;
}

.bouton-1:hover{
    text-decoration: none;
    color: black;
    background-color:darkorange;
}
.bouton-2{
    background-color: orange;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    color:black;
    text-decoration: none;
    margin: 2px 6px;
    position: relative;
    left: 25cm; 
}
.bouton-2:hover{
    text-decoration: none;
    color:black;
    background-color:darkorange;
}
/* menu langue*/
.lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: absolute;
    left: 35cm;
    top: 0%;


}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    color: white;
    line-height: 2;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: relative;
    top: 8px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
}
.ar:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}


.lang-menu:hover ul {
    display: block;
}

/*footer*/
#contenu{
    min-width: 100%;
    position: relative;
}
footer
{
    position: absolute;
    top: 15cm;
    height: 170px;
    width: 100%;
    background-color:black;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#video{
    position: relative;
    left: 12cm;
}
.legal{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.legal:hover{
    text-decoration: none;
    color: white;
}
.terms{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.terms:hover{
    text-decoration: none;
    color: white;
}
.about{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.about:hover{
    text-decoration: none;
    color: white;
}
.forms{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.forms:hover{
    text-decoration: none;
    color: white;
}
.contact{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.contact:hover{
    text-decoration: none;
    color: white;
}
.privacy{
    color: orange;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.privacy:hover{
    text-decoration: none;
    color: white;
}
footer{
    color:#fff;
    text-align: center;
    padding-top: 40px;
}

