body{
    margin: 0px;
}


.home-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}

.home-container .fa{
    float: right;
    position: relative;
    padding: 20px 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.bell{
    color: yellow;
    cursor: pointer;
    font-size: 32px;
    margin-bottom: 50px;
}

.menu{
    color: yellow;
    cursor: pointer;
    font-size: 32px;

}

.nav-wrapper{
    display: block;
    justify-content: space-between;
    padding: 100px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.leftside{
    display: flex;
    width: 50%;
}

.container{
    max-width: 500 !important;
    margin: auto;
    margin-top: 0%;
    font-family: sans-serif;
    letter-spacing: 1px;
}

img{
    max-width: 100%;
    border-radius: 50%;
}

.msg-header{
    border: 1px solid #ccc;
    width: 100%;
    height: 20%;
    border-bottom: none;
    display: inline-block;
    background-color: orange;
}

.msg-header-img{
    border-radius: 70%;
    width: 30px;
    margin-left: 4%;
    margin-top: 17px;
    float: left;
}

.active{
    width: 220px;
    float: left;
    margin-top: 35pt;

}

.active h4{
    font-size: 24pt;
    margin-left: 5px;
    color: #fff;
}

.active h6{
    font-size: 11pt;
    margin-left: 5px;
    line-height: 2px;
    color: #fff;
}

.header-icon{
   width: 160px;
   float: right;
   margin-top: 35pt;
   font-size: 29px;
   margin-right: 10px; 
}

.header-icon .fa{
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.chat-page{
    padding 0px 0px 50px 0;
}

.msg-inbox{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}

.chats{
    padding: 50px 15px 0 25px;
}

.msg-page{
    height: 700px;
    overflow-y: auto;
}

.received-chat-img{
    display: inline-block;
    width: 20px;
    float: left;
}

.received-msg{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 100%;
}

.received-msg-inbox{
    width: 57%;
}

.received-msg-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 20px;
    color: #646464;
    font-size: 22px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time{
    color: #777;
    display: block;
    font-size: 15px;
    margin: 8px 0 0;
}

.outgoing-chat{
    overflow: hidden;
    margin: 25px 20px ;
}

.outgoing-msg p{
    background: orange none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing-msg{
    float: left;
    width: 46%;
    margin-left: 50%;
}

.outgoing-chat-img{
    display: inline-block;
    width: 50px;
    float: right;
}

.message-bottom{
    position: relative;
    height: 10%;
    background-color: orange;   
}

.input-group{
    float: right;
    margin-top: 23px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 60% !important;
    background-color: #fff ;
}

.form-control{
    border: none !important;
    border-radius: 20px !important;
}

.input-group-text{
    background: transparent !important;
    border: none !important;
}

.bottom-icon{
    float: left;
    margin-top: 23px;
    width: 30% !important;
    font-size: 21px;
    margin-left: 10px;
    cursor: pointer;
}

.bottom-icon .fa{
    color: #fff;
    padding: 5px;
}

.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 29px;
}

.contact-container {
    width: 350px;
    height: 550px;
    cursor: pointer;
    background: #57a0b6;
    float: right;
    font-size: 20px;
    text-emphasis-position: top left;
}

.center {
    width: 30%;
    height: 550px;
    cursor: pointer;
    background: #57a0b6;
    float: left;
    font-size: 20px;
    text-align: left;
}

.h1 {
    font-size: 20px;
}
.f-grid {
    display: grid;
    /* W(adjusted) = W(individual) - (1rem * 1/2) */
    grid-template-columns: calc(35% - (40px * 1/2)) calc(35% - (40px * 1/2));
    grid-column-gap: 950px;
    position: absolute;
    width: 864px;
    height: 500px;
}
ul {
    padding: 10px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.f-grid-col {
    padding: 30px;
    background-color: orange;
    color: #fff;
}
.pleft {
    text-align: left;
}